@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-form {
    border-width: 2px 6px 6px 2px; /* arriba derecha abajo izquierda */
    border-style: solid;
    border-color: #000000; /* Cambia a tu color de borde deseado */
    border-radius: 10px;
    padding: 15px;
  }


  #table_order {
    text-align: center;
    margin-top: 10px;
  }
  
  #table_order table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
  }
  
  #table_order th, #table_order td {
    border: 1px solid black;
    padding: 8px;
  }
